<ion-header>

  <ion-navbar>
    <ion-title>อาคารในมหาวิทยาลัยมหาสารคาม</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: gray; color: yellow">

  <!-- <ion-grid>

    <ion-row>
      <ion-col col-6>
        <button ion-button block (click)="getPhoto()">
          <ion-icon name="ios-image"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="secondary" *ngIf="this.params.img">
          <ion-icon name="ios-cloud-upload"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center>
        <img [src]="this.params.img" *ngIf="this.params.img" style="width: 200px; height: 200px">
      </ion-col>
    </ion-row>

  </ion-grid> -->

  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <ion-grid>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ชื่ออาคาร</ion-label>
            <ion-select [(ngModel)]="params.buildingName" name="buildingName">
              <ion-option *ngFor="let name of names" [value]="name.buildingName">{{ name.buildingName }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ตัวอักษรย่อเรียกแทนชื่ออาคาร</ion-label>
            <ion-input type="text" [(ngModel)]="params.initials" name="initials" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>เวลาเปิด – ปิดอาคาร</ion-label>
            <ion-label style="color:#FFDAB9" floating>HH.mm - HH.mm น. หรือ HH ชม.</ion-label>
            <ion-input type="text" [(ngModel)]="params.openClosed" name="openClosed" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button block type="submit" color="secondary" [disabled]="!myform.valid">บันทึก</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>