<ion-header>

  <ion-navbar>
    <ion-title>อาคารในมหาวิทยาลัยมหาสารคาม</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: gray; color: yellow">

  <ion-grid>

    <ion-row>
      <ion-col col-6>
        <button ion-button block (click)="getPhoto()">
          <ion-icon name="ios-image"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="secondary" *ngIf="this.params.img">
          <ion-icon name="ios-cloud-upload"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center>
        <!-- <img [src]="img" *ngIf="img" /> -->
        <img src="./assets/imgs/default.png" *ngIf="this.params.img" style="width: 200px; height: 200px">
      </ion-col>
    </ion-row>

  </ion-grid>

  <div #map id="map"></div>

  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <ion-grid>

      <ion-row>
        <ion-col col-6>
          <ion-input type="text" [(ngModel)]="params.lat" name="lat" placeholder="ละติจูด ..." required></ion-input>
        </ion-col>
        <ion-col col-6>
          <ion-input type="text" [(ngModel)]="params.lng" name="lng" placeholder="ลองติจูด ..." required></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-input type="text" [(ngModel)]="params.buildingName" name="buildingName" placeholder="ชื่ออาคาร ..."
          required></ion-input>
      </ion-row>

      <ion-row>
        <ion-input type="text" [(ngModel)]="params.initials" name="initials" placeholder="ตัวอักษรย่อเรียกแทนชื่ออาคาร ..."
          required></ion-input>
      </ion-row>

      <ion-row>
        <ion-input type="text" [(ngModel)]="params.openClosed" name="openClosed" placeholder="เวลาเปิด – ปิดอาคาร (08.00 - 16.00 น.) ..."
          required></ion-input>
      </ion-row>

      <ion-row>
        <button ion-button block type="submit" color="secondary" [disabled]="!myform.valid">บันทึก</button>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>