<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToHomePage()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ร้านอาหาร/เครื่องดื่ม</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: gray; color: yellow">

  <ion-grid>

    <ion-row>
      <ion-col col-12 text-center>
        <button ion-button block (click)="getPhoto()">
          <ion-icon name="ios-image"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center>
        <img [src]="this.params.img" *ngIf="this.params.img" style="width: 200px; height: 200px">
      </ion-col>
    </ion-row>

  </ion-grid>

  <div #map id="map"></div>

  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <ion-grid>

      <ion-row>
        <ion-col col-6 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ละติจูด</ion-label>
            <ion-input type="text" [(ngModel)]="params.lat" name="lat" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ลองติจูด</ion-label>
            <ion-input type="text" [(ngModel)]="params.lng" name="lng" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ชื่อร้านอาหาร/เครื่องดื่ม</ion-label>
            <ion-input type="text" [(ngModel)]="params.cafeName" name="cafeName" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ประเภทร้านอาหาร/เครื่องดื่ม</ion-label>
            <ion-select [(ngModel)]="params.type" name="type">
              <ion-option *ngFor="let type of types" [value]="type.CafeType">{{ type.CafeType }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ราคาอาหาร/เครื่องดื่ม โดยประมาณ</ion-label>
            <ion-input type="text" [(ngModel)]="params.price" name="price" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>เวลาเปิด – ปิดอาคาร</ion-label>
            <ion-label style="color:#FFDAB9" floating>HH.mm - HH.mm น. หรือ HH ชม. หรือ -</ion-label>
            <ion-input type="text" [(ngModel)]="params.openClosed" name="openClosed" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>เบอร์โทรศัพท์</ion-label>
            <ion-input type="text" [(ngModel)]="params.phoneNumber" name="phoneNumber" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <ion-item style="background-color: gray; color: yellow">
            <ion-label style="color:#FFDAB9" floating>ช่องทางติดต่อเพิ่มเติม</ion-label>
            <ion-input type="text" [(ngModel)]="params.contact" name="contact" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button block type="submit" color="secondary" [disabled]="!myform.valid">บันทึก</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>