<ion-header>
  <ion-navbar>
    <ion-title text-center>
      My New Home MSU
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only *ngIf="facebook.loggedIn">
        <img src="{{ facebook.img }}" style="border-radius: 50%; overflow: hidden; width: 40px; height: 40px">
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToChangePasswordPage()" *ngIf="facebook.loggedIn">
        <ion-icon name="ios-lock"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToLoginPage()" *ngIf="!facebook.loggedIn">
        <ion-icon name="ios-log-in"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logoutwithfb()" *ngIf="facebook.loggedIn">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: gray; color: #FFDAB9">
  <ion-grid>

    <ion-row>
      <ion-col col-6 text-center (click)="goToPage('building')">
        <!-- <ion-icon name="pin" (click)="goToMapPage('buildingProfile')"></ion-icon> -->
        <img src="../../assets/imgs/buil.png" style="width: 80px; height: 80px">
        <ion-label>อาคารในมหาวิทยาลัยมหาสารคาม</ion-label>
      </ion-col>
      <ion-col col-6 text-center (click)="goToPage('parking')">
        <!-- <ion-icon name="pin" (click)="goToMapPage('p')"></ion-icon> -->
        <img src="../../assets/imgs/prak.png" style="width: 80px; height: 80px">
        <ion-label>สถานที่จอดรถ</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-center (click)="goToPage('bank')">
        <!-- <ion-icon name="pin" (click)="goToMapPage('bank')"></ion-icon> -->
        <img src="../../assets/imgs/bank.png" style="width: 80px; height: 80px">
        <ion-label>สำนักงานธนาคาร</ion-label>
      </ion-col>
      <ion-col col-6 text-center (click)="goToPage('atm')">
        <!-- <ion-icon name="pin" (click)="goToMapPage('a')"></ion-icon> -->
        <img src="../../assets/imgs/atm.png" style="width: 80px; height: 80px">
        <ion-label>ตู้เอทีเอ็ม</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-center (click)="goToPage('cafe')">
        <!-- <ion-icon name="pin" (click)="goToMapPage('r')"></ion-icon> -->
        <img src="../../assets/imgs/res.png" style="width: 80px; height: 80px">
        <ion-label>ร้านอาหาร/เครื่องดื่ม</ion-label>
      </ion-col>
      <ion-col col-6 text-center (click)="goToPage('toilet')">
        <!-- <ion-icon name="pin" (click)="goToMapPage('t')"></ion-icon> -->
        <img src="../../assets/imgs/toi.png" style="width: 80px; height: 80px">
        <ion-label>ห้องน้ำ</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-center (click)="goToPage('bus')">
        <!-- <ion-icon name="ios-bus" (click)="goToMapPage('b')"></ion-icon> -->
        <img src="../../assets/imgs/bus.png" style="width: 80px; height: 80px">
        <ion-label>รถราง (ม.ใหม่)</ion-label>
      </ion-col>
      <ion-col col-6 text-center (click)="goToPage('dorm')">
        <!-- <ion-icon name="pin" (click)="goToMapPage('d')"></ion-icon> -->
        <img src="../../assets/imgs/drom.png" style="width: 80px; height: 80px">
        <ion-label>หอพัก</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-center (click)="goToPage('news')">
        <!-- <ion-icon name="ios-megaphone" (click)="goToNewsProfilePage()"></ion-icon> -->
        <img src="../../assets/imgs/news.png" style="width: 80px; height: 80px">
        <ion-label>ข่าว</ion-label>
      </ion-col>
      <ion-col col-6 text-center (click)="goToPage('member')" *ngIf="facebook.status=='0'||facebook.status=='1'">
        <!-- <ion-icon name="pin" (click)="goToMapPage('t')"></ion-icon> -->
        <img src="../../assets/imgs/member.png" style="width: 80px; height: 80px">
        <ion-label>สมาชิก</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center *ngIf="facebook.status=='0'||facebook.status=='1'">
        <ion-label>---------- ข้อมูลพื้นฐาน ----------</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-center (click)="goToPage('buildingName')" *ngIf="facebook.status=='0'||facebook.status=='1'">
        <!-- <ion-icon name="pin" (click)="goToMapPage('t')"></ion-icon> -->
        <img src="../../assets/imgs/buil.png" style="width: 80px; height: 80px">
        <ion-label>ชื่ออาคาร</ion-label>
      </ion-col>
      <ion-col col-6 text-center (click)="goToPage('bankName')" *ngIf="facebook.status=='0'||facebook.status=='1'">
        <!-- <ion-icon name="pin" (click)="goToMapPage('t')"></ion-icon> -->
        <img src="../../assets/imgs/bank.png" style="width: 80px; height: 80px">
        <ion-label>ชื่อสำนักงานธนาคาร</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 text-center (click)="goToPage('cafeType')" *ngIf="facebook.status=='0'||facebook.status=='1'">
        <!-- <ion-icon name="pin" (click)="goToMapPage('t')"></ion-icon> -->
        <img src="../../assets/imgs/res.png" style="width: 80px; height: 80px">
        <ion-label>ประเภทร้านอาหาร/เครื่องดื่ม </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>